@model Lab5_app.WebApplication.Models.SignInViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index">

    <div class="row">
        <div class="col-12 text-danger font-weight-bold">
            @Html.ValidationSummary()
        </div>
        <div class="col-6">
            <input type="text" asp-for="Username" placeholder="Enter your name" class="form-control">
        </div>
        <div class="col-6">
            <button class="btn btn-outline-primary">Submit</button>
        </div>
    </div>
</form>